# TeamsFx files
env/.env.*.user
env/.env.local
.localConfigs.playground
.localConfigs
.notification.localstore.json
.notification.playgroundstore.json
appPackage/build

# dependencies
node_modules/

# misc
.env
.deployment
.DS_Store

# Dev tool directories
/devTools/

creds.txt

testgraph.js
teamsbot_curl_latency.sh
Resume_Final.docx   